always-auth=true

@ppt:registry=https://devops.cltbcanada.net/Projects/Websites/_packaging/design-system-feed/npm/registry/

; begin auth token

//devops.cltbcanada.net/Projects/Websites/_packaging/design-system-feed/npm/registry/:username=Projects
//devops.cltbcanada.net/Projects/Websites/_packaging/design-system-feed/npm/registry/:_password=${NPM_TOKEN}
//devops.cltbcanada.net/Projects/Websites/_packaging/design-system-feed/npm/registry/:email=email@email.com

; end auth token
